# ignore everything
/*

# but include
# project related files
!README.md
!LICENSE

# R related files
!.Rbuildignore
!BcellNet.Rproj
!DESCRIPTION
!NAMESPACE
!data/
!man/
!R/
!tests/

# git related files
!.gitignore

# CI related files
!.travis.yml
!appveyor.yml
.Rproj.user
